html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transform: rotate(5deg);
  transition: ease-out 120ms;
  position: absolute;
  left: 30%;
  top: 100px;
  z-index: 4;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 10%;
  right: 32%;
}

.polaroid:hover {
  transform: rotate(0);
  transition: ease-out 200ms;
  z-index: 5;
}

figure:first-of-type {
  transform: rotate(-10deg);
  left: 22%;
  top: 200px;
  z-index: 2;
}

figure:last-of-type {
  transform: rotate(30deg);
  left: 40%;
  top: -110px;
  z-index: 3;
}
